@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.body {
    background-color: #D4D4D4;
}
* {
    box-sizing: border-box;
}    

.telas {
    background-color: rgb(0, 255, 55);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-geral {
    margin-top: 70px;
}

.topo {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #EC362D;
    opacity: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.botao-criacao {
    width: 88%;
    height: 182px;
    border: dashed 1px;
    border-color: #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 5px;
}

.botao-criacao>h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
}

.botao-criacao>button {
    width: 151px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    border: dashed 1px;
    border-color: #EC362D;
    border-radius: 20px;
    background-color: #FAFAFA;
    margin: 0 auto;
}

.container-quizzes-criacao {
    width: 88%;
    height: 182px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 5px;
}

.container-quizzes-criacao ion-icon {
    color: red;
    font-size: 28px;
}

.container-quizzes-criacao button {
    border: 0px;
    background-color: #FAFAFA;
    margin-left: 6px;
}

.criacao-adicionar {
    width: 20%;
    height: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.setor {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
}
.container-quizzes {
    padding: 10px 6%;
    box-sizing: border-box;
}

.titulo-criacao > h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
}
.container-criacao{
    width: 88%;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comece-pelo-comeco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.titulo-criacao {
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-input {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.botao-prosseguir {
    width: 368px;
    height: 54px;
    background-color: #EC362D;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    border: 0px;
    border-radius: 10px;
}
.perguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 10px;

}
.sub-titulos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.conteudoCriacao{
    background-color:  #FFFFFF;
}
.container-pergunta{
    width: 700px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 18px;
    padding-bottom: 18px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.container-pergunta button{
    background-color: #FFFFFF;
    border: 0px;
}
.container-pergunta ion-icon{
    font-size: 28px;
}
.container-perguntas{
    margin-bottom: 30px;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 20px 0;
}
input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}

input {
    width: 630px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-bottom: 9px;
}
.off {
    display: none;
}

/* tela 1 com quizzes prontos */
.quizzes-prontos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.quizzes-prontos .quiz {
    margin-bottom: 12px;
    margin-right: 16px; 
    position: relative;
}

.quizzes-prontos .quiz img {
    width: 340px;
    height: 182px;
    border-radius: 6px;
    object-fit: cover;
}
/*posicionar titulo em relação a imagem*/
.quizzes-prontos .quiz .filter {
    width: 340px;
    height: 182px;    
    border-radius: 6px;
    background-image: linear-gradient(0deg, rgba(0,0,0, 0.65), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    right: 0;
}
.quizzes-prontos .quiz .titulo{
    font-family: roboto;
    font-size: 19px;
    line-height: 22px;
    color: #ffffff;
    width: 340px;
    height: 182px;  
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 20px;
}

/* fim tela 1 */

/*-- tela 2 conteudo quiz */
.tela-quiz .conteudo {
    display:flex;
    align-items: center;
    background-color: #E5E5E5;
    flex-direction: column;
}
.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
    width: 100%;
    height: 226px;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}
.banner img {
    width: 100%;
    opacity: 60%;
}

.banner .titulo {
    font-family: roboto;
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;
} 
/*-- perguntas tela 2 */
.titulo-pergunta {
    width: 100%;
    height: 26%;
    background-color: #434CA0;
    font-family: roboto;
    font-size: 23px;
    font-weight: bold;
    color: #FFFFFF;    
}

.alternativas {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: space-between;
}

.alternativas ul {
    margin-bottom: 20px;        
}

.alternativas img {
    width: 330px;
    height: 176px;
    object-fit: cover;
}

.alternativas .resposta {
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-top: 8px;
}

.pergunta_1,
.pergunta_2,
.pergunta_3
{
    width: 760px;
    height: 676px;
    background-color: #FFFFFF;
    margin: 42px 0;
    padding: 28px 34px;
}

/* selecao de respostas */
.alternativas .correta h1{
    color: #009C22;
}

.alternativas .errada h1 {
    color: #FF4B4B;
    opacity: 30%;
}
.alternativas .errada {
    opacity: 30%;   
}

/* resultado */
.resultado {
   width: 760px;
   height: 440px;
   background-color: #FFFFFF;
   margin: 42px 0;
   padding: 18px;
}

.titulo-resultado {
    width: 95%;
    height: 26%;
    background-color: #EC362D;
    font-family: roboto;
    font-size: 23px;
    font-weight: bold;
    color: #FFFFFF;
}

.informações-resultado {
    display: flex;
    margin-top: 18px;
}

.resultado img {
    width: 364px;
    height: 273px;
    margin-right: 18px;
}

.resultado .mensagem {
    font-size: 19px;
    font-weight: bold;
    font-family: roboto;
    line-height: 25px;
    color: #484848;
    margin-right: 30px;
}
/*-- fim tela 2 conteudo quiz */


