@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}     


.topo {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: red;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-criacao {
    width: 88%;
    height: 182px;
    border: dashed 1px;
    border-color: #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 5px;
}

.botao-criacao>h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
}

.botao-criacao>button {
    width: 151px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    border: dashed 1px;
    border-color: #EC362D;
    border-radius: 20px;
    background-color: #FAFAFA;
    margin: 0 auto;
}

.container-quizzes-criacao{
    width: 88%;
    height: 182px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 5px;
}
.container-quizzes-criacao  ion-icon{
    color: red;
    font-size: 28px;
}
.container-quizzes-criacao button{
    border: 0px;
    background-color: #FAFAFA;
    margin-left: 6px;
}
.criacao-adicionar{
    width: 20%;
    height: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.container-quizzes {
    padding: 10px 6%;
    box-sizing: border-box;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
}

.off {
    display: none;
}
/* tela 1 com quizzes prontos */
.quizzes-prontos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.quizzes-prontos .quiz {
    margin-bottom: 12px;
    margin-right: 16px;
}

.quizzes-prontos .quiz img {
    width: 340px;
    height: 182px;
    border-radius: 6px;
    object-fit: cover;
}
/*posicionar titulo em relação a imagem*/
.quizzes-prontos .quiz .titulo {
    font-family: roboto;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    background-color: green;
    width: 300px;
}
/* fim tela 1 */

/*-- tela 2 conteudo quiz */
.conteudo {
    padding-top: 70px;
    display:flex;
    align-items: center;
    background-color: #E5E5E5;
    flex-direction: column;
}
.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
    width: 100%;
    height: 226px;
    background-color: green;
}

.banner .titulo {
    font-family: roboto;
    font-size: 30px;
    color: #FFFFFF;
} 
/*-- perguntas tela 2 */
.perguntas-opcoes {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.perguntas-opcoes ul {
    margin-bottom: 20px;
    margin-right: 16px;  
}

.perguntas-opcoes img {
    width: 330px;
    height: 176px;
    object-fit: cover;
}

.perguntas-opcoes .resposta {
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-top: 8px;
}

.pergunta_1,
.pergunta_2,
.pergunta_3
{
    width: 760px;
    height: 676px;
    background-color: #FFFFFF;
    margin: 42px 0;
    padding: 28px 34px;
}

.titulo-pergunta {
    width: 688px;
    height: 138px;
    background-color: #434CA0;
    font-family: roboto;
    font-size: 23px;
    font-weight: bold;
    color: #FFFFFF;    
}


/*-- fim tela 2 conteudo quiz */


.container-criacao{
    width: 88%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

